@{ 
    Layout = null;
}
<html>
    <head>
        <style>
            img {
                border: 3px solid red;
                padding: 5px;
                margin: 4px;
            }
            table,th,td,tr{
                border: 1px solid;
                border-color: antiquewhite;
                color: antiquewhite;
            }
            

        </style>
    </head>
    <body style="background-image:url(../../Content/Slike/fitnes1.jpg); max-width:100%; height:auto; ">
       <p style="color:antiquewhite;
                font-size:25px;
                
                text-align:center">
                Evidencija fitnes centara
       </p>
       
        <div style="float:right">
            <form action="~/Pocetni/Detalji" method="post">
                <table>
                    <tr>
                        <th>
                            Naziv
                        </th>
                        <th>
                            Adresa
                        </th>
                        <th>
                            Godina otvaranja
                        </th>
                        <td></td>
                    </tr>
                    @for (int i = 0; i < ViewBag.Lines; i++)
                    {

                        string oneLine = ViewBag.Line[i];
                        string[] konacno = oneLine.Split(';');
                        <tr>
           
                                <td>
                                    @konacno[0]
                                </td>
                                <td>
                                    @konacno[1],@konacno[2],@konacno[3]
                                </td>
                                <td>
                                    @konacno[5]
                                </td>

                            <td>
                                <input type="submit" value="Detalji" />
                            </td>
                        </tr>

                    }

            </table>
            </form>
        </div>
      
       
    </body>
</html>



