
<form>
    <table>
        <tr>
            <td>Username:</td>
            <td>
                <input type="text" name="korisnickoime" />
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input type="text" name="lozinka" />
            </td>
        </tr>
        <tr>
            <td>Uloga:</td>
            <td>
                <input list="uloge" name="uloga" />
                <datalist id="uloge">
                    <option value="POSETILAC"></option>
                    <option value="TRENER"></option>
                    <option value="VLASNIK"></option>
                </datalist>
            </td>
        </tr>
        
    </table>
</form>

<img src="picture.jpg"/>

