
@{
    ViewBag.Title = "UnosKomentara";
    Layout = null;
}

<h1>Komentar uspesno unesen,ceka se vlasnikovo odobrenje :)</h1>
<p>Povratak na <a href="~/Pocetni/Index"> pocetnu stranicu</a>
    </p>

